root = true

[*.cs]
indent_style = space
indent_size = 3
end_of_line = crlf
insert_final_newline = true
charset = utf-8-bom
trim_trailing_whitespace = true

# Style/design suggestions: keep visible (suggestion) but not breaking.
dotnet_diagnostic.CA1031.severity = suggestion   # Do not catch general Exception
dotnet_diagnostic.CA1062.severity = suggestion   # Validate arguments of public methods
