name: C# Build with Dot Net

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Restore dependencies
      run: dotnet restore Upsilon.Apps.Passkey.slnx
      
    - name: Build Debug
      run: dotnet build Upsilon.Apps.Passkey.slnx --no-restore --configuration Debug
      
    - name: Build Relesae
      run: dotnet build Upsilon.Apps.Passkey.slnx --no-restore --configuration Release
            
    - name: Test
      run: dotnet test --no-build --verbosity normal Upsilon.Apps.Passkey.slnx


permissions:
  contents: read
  issues: write
  pull-requests: write